<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<title>AS品牌开业大增礼</title>
	<link rel="stylesheet" href="../css/cj.min.css" />
	<link rel="stylesheet" href="../css/style.css" />
</head>
<body class="pb_70">
	<header><div class="title">活动规则</div><div class="share">分享</div></header>
	<section class="rule">
		<dl>
			<dt>活动流程</dt>
			<dd><i>1</i>进店扫码</dd>
			<dd><i>2</i>回答5个问题</dd>
			<dd><i>3</i>将本信息分享至朋友圈</dd>
		</dl>
		<dl>
			<dt>活动奖品</dt>
			<dd><i>1</i>每天送100套日式陶瓷碗勺礼品套装<br><img src="../images/price.png" width="80%"></dd>
			<dd><i>2</i>活动期间每天第一个进店成功购买鞋子的客户，并按活动流程完成任务，可免费领取一双价值200元以内的真皮皮鞋。</dd>
		</dl>
		<dl>
			<dt>领取条件</dt>
			<dd><i>1</i>5个问题必须全部回答正确</dd>
			<dd><i>2</i>仅凭本人手机号及微信有效记录领取</dd>
			<dd><i>3</i>每人限凭一部手机领取一套、不可重复<p>（不可同一人拿多部手机、多账号领取或代领）</p></dd>
		</dl>
		<dl class="no_pad">
			<dt>领取时间</dt>
			<dd>2016年5月1日——5月3日</dd>
			<dd>每日领取时间：上午10点—下午14点</dd>
		</dl>
		<dl class="addr">
			<dt>领取地址</dt>
			<dd>
				<h2>衢州市衢江区沈家振兴中路95号 AS线下体验馆</h2>
				<p><a href="tel:18858445644">联系电话：18858445644</a></p>
			</dd>
			<dd>
				<h2 >杭州市富阳区桂花路50-1 AS线下体验馆</h2>
				<p><a href="tel:13666641057">联系电话：13666641057</a></p>
			</dd>
			<dd>
				<h2>江西上饶信江东路南门口 AS线下体验馆</h2>
				<p><a href="tel:15579378802">联系电话：15579378802</a></p>
			</dd>
			<dd>
				<h2>江西上饶市上饶县旭日南大道122号 AS线下体验馆</h2>
				<p><a href="tel:13755346486">联系电话：13755346486</a></p>
			</dd>
			<dd>
				<h2>江西上饶广丰区新鸟林街33号 AS线下体验馆</h2>
				<p><a href="tel:13307030368">联系电话：13307030368</a></p>
			</dd>
			<dd>
				<h2>贵溪市金三角北大街146号 AS线下体验馆</h2>
				<p><a href="tel:18607013712">联系电话：18607013712</a></p>
			</dd>
			<dd>
				<h2>玉山县步行街东4栋4号 AS线下体验馆</h2>
				<p><a href="tel:18279330611">联系电话：18279330611</a></p>
			</dd>
		</dl>
	</section>
	<div class="footer_back">
		<a href="index.html"><i class="home"></i></a>
	</div>
	<div class="mask" id="zz" style="display: none;">
		<div class="share"></div>
	</div>
</body>
</html>
<script src="../vender/jquery/jquery-1.11.1.js"></script>
<script src="../scripts/as.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>	
var shareImg = '';		// 分享图标
var sharetitle = '';		// 分享标题
var sharelink = '';		// 分享链接

wx.config({
	debug : false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	appId : 'wxd4f01acbd1f6da89', // 必填，公众号的唯一标识
	timestamp : '1461129429', // 必填，生成签名的时间戳
	nonceStr : 'pVgmGdxMVDByJc3l', // 必填，生成签名的随机串
	signature : '56179e500eb44a60bb4dc0ff466b1b4fec024466',// 必填，签名，见附录1
	jsApiList : ['onMenuShareTimeline']
});

wx.ready(function(){
	initWeiXin();
});
function initWeiXin(){
	//分享到朋友圈
	wx.onMenuShareTimeline({
		title : sharetitle, 
		link : sharelink, 
		imgUrl : shareImg, 
		success : function() {
			// 用户确认分享后执行的回调函数
			$.ajax({
				url:'',
				data:{
					
				}
			}).done(function(data){
		        if (data.Success) {
		            nAlert("分享成功");
		        } else {
		            nAlert(data.Msg);
		        }
		    });
		},
		cancel : function() {
			// 用户取消分享后执行的回调函数
			nAlert("你取消了分享");
		}
	});
}
</script>
